.comfort-slides {
  border-top: 15px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/mobile/Mobil_04_Feelthecomfort.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 776px;
  color: white;
  padding: 1rem 0 1rem 1.5rem;
}

.comfort-testing {
  padding-bottom: 20rem;
}

.comfort-slides h2 {
  font-size: 36px;
  line-height: 110.2%;
}

.comfort-slides h4 {
  font-size: 24px;
  line-height: 116%;
  padding-bottom: 0.5rem;
}

.comfort-slides p {
  font-size: 16px;
  line-height: 134.2%;
}

@media only screen and (min-width: 768px) {
  .comfort-testing {
    padding: 18rem 0 0 0;
  }

  #zero-padding-comfort {
    padding-bottom: 0;
  }

  .comfort-slides h2 {
    font-size: 88px;
    padding: 3rem 0 0 3rem;
  }

  .comfort-slides h4 {
    font-size: 36px;
    padding-left: 4rem;
  }

  .comfort-slides p {
    font-size: 24px;
    padding: 0 0 2rem 4rem;
  }
  .comfort-slides {
    background: url("../img/desktop/desktop_06_insida.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
