.comfort-slide-one {
  color: white;
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comfort-slide-two {
  color: white;
  width: 100%;
  height: 451px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.comfort-slide-two p {
  margin: 0 10vw 10vw 3vw;
}

.comfort-slides h4 {
  font-size: 24px;
  line-height: 116%;
  margin: 0 10vw 2vw 3vw;
}

.comfort-slides h2 {
  font-size: 36px;
  line-height: 110.2%;
  font-weight: bold;
  margin: 0 10vw 10vw 3vw;
}

.comfort-slides p {
  font-size: 16px;
  line-height: 134.2%;
  margin: 0 10vw 5vw 3vw;
}

.comfort-slides {
  border-top: 15px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("../img/mobile/Mobil_04_Feelthecomfort.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .comfort-slide-two {
    display: none;
  }
  .comfort-slide-one {
    width: 100%;
    height: 806px;
  }

  .comfort-slides h2 {
    font-size: 88px;
    margin-top: 3vw;
  }

  .comfort-slides h4 {
    font-size: 36px;
  }

  .comfort-slides p {
    font-size: 24px;
  }
  .comfort-slides {
    background: url("../img/desktop/desktop_06_insida.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
