.comfort-slides {
  border-top: 15px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/mobile/Mobil_04_Feelthecomfort.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 776px;
  color: white;
  padding: 4vw;
}

.comfort-testing {
    padding-bottom: 77vw;
}

.comfort-slides h2 {
    font-size: 36px;
    line-height: 110.2%;
}

.comfort-slides h4 {
    font-size: 24px;
    line-height: 116%;
}

.comfort-slides p {
    font-size: 16px;
    line-height: 134.2%;
}

@media only screen and (min-width: 768px) {

  .comfort-slide-one {
    border-top: 15px solid black;
}

.comfort-testing {
    padding-top: 31vw;
    padding-bottom: 0vw;
    margin-bottom: 0vw;
}

  .comfort-slides h2 {
    font-size: 88px;
  }

  .comfort-slides h4 {
    font-size: 36px;
  }

  .comfort-slides p {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  .comfort-slides {
    background: url("../img/desktop/desktop_06_insida.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
