.fashion-continer{
    position: relative;
    text-align: center;
   
  }
.fashion-image{
    width: 100%;


 }
.fashion-image img {
    display: block;
    width: 100%;
    height: auto;
 }
 

 .fashion-image h3{
    position: absolute;
    top: 15px;
    left: 16px;
    color: #fff;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-size: 40px;
 }

 .fashion-image h6{
    position: absolute;
    margin-top: 50%;
    left: 16px;
    color: #fff;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-size: 20px;
 }

 .fashion-image p{
    position: absolute;
    width: 80%;
    left: 16px;
    color: #fff;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    
 }

 .fashion-image-one{
    margin-top: 58%;
 }

 .fashion-image-two{
    margin-top: 90%;
 }

 .fashion-image a {
    position: absolute;
    width: 80%;
    left: 16px;
    color: #fff;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 100%;
 }

 @media screen and (min-width: 1000px) {
    #image{
        display: none;
    }
    

    .fashion-image h3{
        font-size: 88px;
        line-height: 110.2%;
        margin-top: 30px;
        left: 40px;

    }

  
    .fashion-image h6 {
        left: 40px;
        font-size: 40px;
        line-height: 116%;
        margin-top: 30%;

    }

    .fashion-image p{
        width: 35%;
        left: 40px;
        font-size: 18px;
        font-weight: 400;
        
     }

    .fashion-image-one{
        margin-top: 33.5%;
        
     }
    
     .fashion-image-two{
        margin-top: 45%;
     }
    
    .fashion-image a{
        margin-top: 50%;
        left: 40px;
        font-size: 18px;
        font-weight: 300;
    
    }


 }
 

