.folder-section {
  width: auto;
  padding: 20px;
  background-color: #fff;
  padding-bottom: 5rem;
}

.folder-section h2 {
  font-size: 24px;
  line-height: 125.2%;
  margin: 20px 0px;
  font-weight: 700;
}

.folder-section a {
  line-height: 166.2%;
  text-decoration-line: underline;
  color: var(--black);
}

.folder-section p {
  margin-top: 20px;
}

.input-information {
  width: 238px;
  height: 44px;
  left: 24px;
  background: #83675d;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 10px 10px 10px 0px;
}

.form-inputs ::placeholder {
  font-size: 14px;
  line-height: 116.2%;
  color: #fff;
  display: block;
  padding-left: 0.5rem;
}

.checkbox-container {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.checkbox-container span {
  margin: 7px;
}

.checkbox-container img {
  width: 30px;
  height: auto;
}

.checkbox-container input {
  cursor: pointer;
}

.folder-button {
  width: 98px;
  height: 44px;
  background: #000000;
  border-radius: 4px;
  outline: none;
  border: none;
}

.folder-button span {
  color: #fff;
}

input[type="text"] {
  height: 44px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (min-width: 700px) {
  .folder-section {
    width: 100%;
    padding-left: 80px;
  }

  .folder-section h2 {
    font-size: 48px;
  }

  .folder-container {
    width: 695px;
    margin-left: 25px;
  }

  .folder-section a,
  .folder-section p {
    font-size: 36px;
    padding: 2rem 0;
  }

  .input-information {
    width: 290px;
    height: 59px;
    left: 100px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 25px 25px 15px 0px;
  }

  .desktop-checkbox {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .folder-button {
    margin-top: 15px;
    margin-right: 220px;
    font-size: 16px;
  }

  .input-margin {
    margin-left: 55px;
  }

  .form-inputs ::placeholder {
    font-size: 24px;
    line-height: 116.2%;
    color: #eaeaea;
    display: block;
  }
  input[type="text"] {
    padding: 1.5rem;
  }
}
