.hero {
  background: var(--dark-beige);
}

.hero-container {
  position: relative;
}

.hero h2 {
  font-size: 48px;
  width: 80%;
  line-height: 87.2%;
  padding: 1rem 2rem 1rem 1rem;
  color: #fff;
}

.hero-img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.hero-img img {
  width: 100%;
  display: block;
}

.sticky-circle {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--dark-beige);
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  top: 85vh;
  left: 75vw;
  padding: 0.4rem; 
}

.sticky-circle p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.newsletter-mobile-header {
  background: var(--dark-beige);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.6rem;
}

.newsletter-mobile {
  border-bottom: 12px solid var(--dark-beige);
  background: black;
  height: 479px;
  width: 264px;
  color: white;
  display: none;
  flex-direction: column;
  margin: auto;
  position: sticky;
  z-index: 2;
  top: 12rem;
}

.newsletter-mobile-active {
  display: flex;
}

.newsletter-container {
  padding: 2rem 0 1rem 1rem;
}

.exit-button {
  width: 28px;
  height: 28px;
}

.newsletter-mobile p {
  padding-bottom: 1rem;
}

.newsletter-mobile-flex {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 1rem 0;
}

.newsletter-mobile-flex p {
  padding-left: 0.7rem;
}

.newsletter-mobile input[type=text] {
  background: var(--light-beige);
  width: 216px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  line-height: 116.2%;
  padding: 1rem 0;
  border: none;
}

.newsletter-mobile input:placeholder {
  line-height: 116.2%;
}

.newsletter-mobile input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.newsletter-mobile button {
  background: var(--light-beige);
  width: 98px;
  height: 44px;
  font-style: normal;
  font-weight: normal;
  line-height: 116.2%;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: #656464;
}

.newsletter-mobile-logo {
  padding-top: 5rem;
 
}

@media (min-width: 1200px) {
  .hero h2 {
    position: absolute;
    bottom: 2rem;
    font-size: 88px;
  }
  .sticky-circle {
    top: 85vh;
    left: 88vw; 
  }

  .newsletter-mobile-header {
    background: var(--dark-beige);
   
    display: flex;
    justify-content: flex-end;
  }
  
  .newsletter-mobile {
    width: 710px;
    border-bottom: 12px solid var(--dark-beige);
    background: black;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    position: sticky;
    z-index: 2;
  }
  
  .newsletter-mobile-active {
    display: flex;
  }
  
  .exit-button {
    height: 38px;
    width: 38px; 
  }
  
  #confirm-mobile {
    font-size: 16px;
  }
  
  .newsletter-mobile p:first-child {
    font-size: 36px;

  }
  
  .newsletter-mobile-flex {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
  }
  
  .newsletter-mobile input[type=text] {
    background: var(--light-beige);
    width: 300px;
    height: 44px;
    border-radius: 4px;
    text-align: center;
  }
  
  .newsletter-mobile input:placeholder {
    font-size: 16px;
  
  }
  
  .newsletter-mobile input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  
  .newsletter-mobile button {
    background: var(--light-beige);
    width: 98px;
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .newsletter-mobile-logo {
      width: 146px;
      height: 76px;
      padding: 0;
      margin-top: 1rem;
  }

  .newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testing {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
  }

}


@media (min-width: 600px) {

  .hero .img-hidden {
    display: block;
  }
  .hero .img-visible {
    display: none;
  }

}
