.hero {
    background: var(--dark-beige);
}

.hero-container {
    position: relative;
}

.hero h2 {
    font-size: 48px;
    width: 80%;
    line-height: 87.2%;
    padding: 5rem 2rem 1rem 1rem;
}

.hero-img img {
    width: 100%;
    display: block;
}

@media (min-width: 1200px) {
    .hero h2 {
        position: absolute;
        bottom: 2rem;
        font-size: 88px;
        
    }
  
}