.logo-front-mobile-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.logo-front-desktop-image {
  display: none;
}

.logo-front-container h3 {
  position: absolute;
  bottom: 40px;
  left: 23px;
  text-align: left;
  color: #fff;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 36px;
}

@media screen and (min-width: 1000px) {
  .logo-front-mobile-image {
    display: none;
  }

  .logo-front-desktop-image {
    display: block;
    height: 702px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .logo-front-container h3 {
    font-size: 60px;
  }
}
