.newsletter-section {
  background: #fff;
  padding: 1rem 1rem;
  position: relative;
}

.newsletter-section h2 {
  font-size: 36px;
  font-weight: 700;
  width: 80%;
}

.newsletter-text h3 {
  font-size: 24px;
  margin: 1rem 0;
}

.newsletter-section img {
  position: absolute;
  right: 0px;
  width: 40%;
}

.newsletter-text-1 {
  width: 60%;
}

.newsletter-section button {
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  background: var(--dark-beige);
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

#newsletter-hidden,
#newsletter-hidden-2 {
  display: none;
}

@media (min-width: 520px) {
  .newsletter-section img {
    width: 20%;
  }
}

@media (min-width: 784px) {
  .newsletter-section img {
    width: 12%;
  }
}

@media (min-width: 850px) {
  .newsletter-section img {
    width: 12%;
  }
}
@media (min-width: 1200px) {
  .newsletter-section {
    width: 100%;
    padding: 0 4rem;
  }

  .newsletter-section h2 {
    font-size: 52px;
    width: 30%;
    padding: 2rem 0.8rem;
  }

  .newsletter-section p {
    font-size: 24px;
  }

  .newsletter-text-1,
  .newsletter-text-2,
  .newsletter-text-3 {
    width: 40vw;
    padding: 2rem 1rem;
  }

  .newsletter-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4rem;
  }

  .newsletter-section button {
    font-size: 22px;
    margin-left: 0.8rem;
    margin-bottom: 6rem;
  }

  .newsletter-section img {
    width: 12%;
    bottom: 2rem;
    right: 15rem;
  }

  .newsletter-lg {
    font-size: 72px;
    white-space: nowrap;
  }

  #newsletter-hidden {
    width: 30%;
    padding: 0;
    display: block;
  }
  #newsletter-hidden img {
    width: 100%;
  }
  #newsletter-hidden-2 {
    width: 30%;
    display: block;
    position: absolute;
    right: 0;
  }
  #newsletter-hidden-2 img {
    width: 100%;
  }

  .newsletter-section-3 {
    width: 100%;
    position: relative;
  }
  .newsletter-section-3 p, .newsletter-section-3 h3 {
    margin-left: 1rem;
  }

  .newsletter-section-3 img {
    width: 100%;
    position: absolute;
  }
}
