.showcase-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 50px 10px;
}

.showcase-container img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.showcase-container p:first-child {
  text-align: center;
  font-size: 24px;
  padding: 25px 0;
}

.selections {
  display: flex;
  justify-content: space-around;
  width: 90vw;
}

.selections > div {
  position: relative;
  cursor: pointer;
}

.selections div > img {
  width: 100%;
  display: block;
}

.selections div > p {
  position: absolute;
  width: 100%;
  bottom: -1rem;
  text-align: center;
  font-size: 12px;
}

.active-selection {
  font-weight: 700;
}

@media (min-width: 1200px) {
  .selections {
    width: 40%;
  }

  .showcase-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
  }

  .showcase-flex-left {
    width: 100%;
  }
  .showcase-flex-right {
    width: 100%;
  }

  .selections {
    width: 100%;
    height: 100%;
  }

  .selections > div {
    width: 100%;
    height: 100%;
  }

  .showcase-container p:first-child {
    font-size: 44px;
    padding: 2rem;
  }

  .showcase-container img {
    width: 100%;
    height: 100%;
  }

  .selections div > p {
    font-size: 36px;
    white-space: nowrap;
    bottom: -3rem;
    right: 1rem;
  }
}
