.snow-container {
  position: relative;
  text-align: center;
  padding: 15px 0px;
  background-color: var(--black);
}

.snow-mobile-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.snow-desktop-image {
  display: none;
}

@media screen and (min-width: 1000px) {
  .snow-mobile-image {
    display: none;
  }

  .snow-desktop-image {
    display: block;
    width: 100%;
    height: 1086px;
    object-fit: cover;
    object-position: center;
  }
}
