.specification-container {
  width: 100;
  background-color: var(--dark-beige);
}

.specification-header {
  background-color: var(--black);
  padding: 10px 24px;
  color: white;
}

.specification-header h3 {
    font-size: 24px;
}

.specification-car-container {
  padding: 25px;
}

.specification-car-container img {
  width: 100%;
}

.specification-car-desktop {
  display: none;
}


@media screen and (min-width: 1000px) {
  .specification-header{
    padding-left: 100px;
    height: 131px;
}

  .specification-header h3  {
    font-size: 44px;
    font-weight: 500;
    padding-top: 1.5rem;
  }
  .specification-car-mobile {
    display: none;
  }
  .specification-car-desktop {
    display: inline-block;
  }
  .specification-car-container img {
    width: 100%;
  }

  .specification-car-container {
    display: inline-block;
   }

  .specification-car-desktop-one {
    margin-left: 45px;
  }
}
