* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-beige: #E2D0BC;
    --dark-beige: #D2A574;
    --background-white: #E5E5E5;
    --black: #000000;
}
body {
    font-family: sans-serif;
}

