* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-beige: #E2D0BC;
    --dark-beige:  #83675D;;
    --background-white: #E5E5E5;
    --black: #000000;
    --dark-grey: #262626;
    --light-grey: #a0a0a0;
}

body {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    background-color: var(--light-beige);
}


/* Fonts */

/* font-family: aktiv-grotesk,sans-serif;
font-weight: 400;
font-style: normal;
font-family: aktiv-grotesk,sans-serif;
font-weight: 400;
font-style: italic;
font-family: aktiv-grotesk,sans-serif;
font-weight: 700;
font-style: normal;
font-family: aktiv-grotesk,sans-serif;
font-weight: 700;
font-style: italic; */